/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #282c37;
    Blue:               #2b90d9 (Blue)    [  ]
    white:              #FFFFFF (White)   [  ]
    body-bg-color:      #16191f           [ body bg color ]
    font-color:         #d9e1e8           [ font color  ]
    border-color:       #9baec8;
------------------------------------------------------------------ */

/* COLORS */
a {
  color: #d9e1e8;
}
body {
  background-color: #16191f;
  color: #d9e1e8;
}
.sidebar {
  color: #d9e1e8;
  background-color: #282c37;
}
.sidebar .skill-line .progress {
  background-color: #2b90d9;
}
.sidebar .skill-line .determinate {
  background-color: #d9e1e8;
}
.sidebar .info {
  border-bottom: 1px solid #2b90d9;
}
#site-nav {
  background-color: #282c37;
}
#site-nav a:hover,#site-nav a:focus{
  color:#2b90d9;
}
#site-nav a:hover,#site-nav a:focus{
  border-bottom:4px solid #2b90d9
}
.section .section-wrapper {
  color: #ffffff;
  background-color: #282c37;
}
.custom-content-wrapper {
  border-bottom: 1px solid #2b90d9;
}
.custom-content-wrapper h3 span {
  color: #9baec8;
}
.custom-content-wrapper span {
  color: #2b90d9;
}
.post-title {
  color: white;
}
#blog-post-1 {
  background-color: #e95855;
}
#blog-post-2 {
  background-color: #707281;
}
#blog-post-3 {
  background-color: #564d52;
}
#blog-post-4 {
  background-color: #47bac9;
}
#blog-post-5 {
  background-color: #68c02e;
}
.post-details {
  background-color: #282c37;
}
.post-details a {
  color: #2b90d9;
}
sup a {
  color: #2b90d9;
}
/* END COLORS */

* {
  font-family: 'roboto', sans-serif;
}
.fix {
  overflow: hidden;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}
.clear {
  clear: both;
}

/* style for wow animation*/
.a1 {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.a2 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.a3 {
  visibility: visible;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.a4 {
  visibility: visible;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.a5 {
  visibility: visible;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

/* style for Typography */
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 22pt;
  line-height: 37pt;
  margin: 0px;
}
h3 {
  font-size: 14pt;
  line-height: 24pt;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}
h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.fa {
  font-size: 22px;
}

/* body */
body {
  text-align: center;
}
.container {
  margin-top: 24px;
}

/* Sidebar */
.sidebar {
  text-align: left;
  overflow: hidden;
  display: block;
}
.sidebar .heading {
  position: relative;
}
.sidebar .heading .feature-img {
  position: relative;
}
.sidebar .heading .feature-img img {
  width: 100%;
}
.sidebar .heading .button-collapse {
  display: block !important;
}
.sidebar .heading .title {
  position: absolute;
  right: 11px;
  bottom: 46px;
}
.sidebar .heading .title span {
  margin-top: -5px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
}
.sidebar .icon {
  margin-top: 3px;
  display: inherit;
  text-align: center;
}
.sidebar .sidebar-item {
  overflow: hidden;
  margin-top: 10px;
}
.sidebar .section-item-details p {
  margin: 0px;
}
.sidebar .info {
  padding-left: 0px;
}
.sidebar .info span {
  opacity: 0.7;
  font-weight: 300;
}
.sidebar .personal {
  margin-bottom: 20px;
}
.sidebar .personal h4 {
  margin: 0px;
}
.sidebar .work h4 {
  margin-bottom: 0px;
}
.sidebar .address-details h4 {
  margin-top: 0px;
}
.sidebar .address-details h4 span {
  font-size: 10pt;
}
.sidebar .skill-line {
  padding-right: 30px;
  padding-left: 0px;
}
.sidebar .skill-line .progress {
  height: 2px;
  overflow: visible;
}
.sidebar .skill-line .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin-left: 50%;
}
.sidebar .skill-line h3 {
  margin-top: 0px;
}
.sidebar .skill-line span {
  opacity: initial;
}

/* Navigation */
#site-nav {
  display: block;
  text-align: center;
  margin-bottom: 14px;
}
#site-nav ul{
  margin: 10;
  list-style:none
}
#site-nav li{
  display:inline-block
}
#site-nav a{
  font-weight: bold;
  display:block;
  padding:0 1rem;
}

@media only screen and (max-width: 30rem){
  #site-nav a{
    padding:0 0.5rem
  }
}

/* Sections */
#section {
  overflow: hidden;
}
.section {
  padding-left: 32px !important;
  text-align: left;
}
.section .fa {
  text-align: center;
  display: block;
  font-size: 30pt;
}
.section .section-wrapper {
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
}
.section .section-wrapper .section-icon {
  margin-top: 40px;
}
.section .section-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}

/* Work Experience */
.custom-content {
  padding-right: 0px !important;
}
.custom-content-wrapper {
  padding-right: 30px;
  margin-bottom: 25px;
}
.custom-content-wrapper:last-child {
  border-bottom: initial;
}
.custom-content-wrapper h3 {
  margin: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.custom-content-wrapper span {
  margin-top: 0px;
  font-size: 10pt;
  line-height: 15pt;
}
.custom-content-wrapper p {
  margin-top: 0px;
  margin-bottom: 25px;
}

/* blog */
.blog {
  position: relative;
}
.post-title {
  margin-top: -5px;
  padding: 20px 30px;
}
.post-title h2 {
  margin: 0px;
  font-size: 14pt;
  line-height: 24pt;
}
.post-title span {
  opacity: 0.7;
}
.blog-post .thumbnail img {
  width: 100%;
  margin-bottom: -2px;
}
.blog-post:nth-child(odd) {
  padding-left: 0px !important;
}
.blog-post:nth-child(even) {
  padding-right: 0px !important;
}
.blog-post:last-child {
  padding-right: 0px !important;
}
.post-details {
  padding: 20px 30px;
  margin-bottom: 24px;
}
.featured-img {
  padding-right: 0px !important;
}
.caption {
  padding-left: 0px !important;
}
#caption .post-details {
  margin-bottom: 0px;
}
